ion-content.chatbox {
    color: #ffd690;
    display: flex;
    flex-direction: column;
    --height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 0;

}

.chatbox ion-segment {
    --background: #5F220C;
    border-bottom: 1px solid rgba(255, 214, 144, 0.1);
}

.messages {
    flex: 1;
    overflow-y: auto;
    background: #3a1e0e;

}

.private-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    height: 6%;
    background: #4a2815;
    border-top: 1px solid rgba(255, 214, 144, 0.1);
}

.chat-input {
    padding: 4px;
    background: #4a2815;
    border-top: 1px solid rgba(255, 214, 144, 0.15);
}

.messages-container {
    height: 60% !important;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

.minitittle {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.5rem !important;
}