.chatbox {
    color: #ffd690;
    display: flex !important;
    flex-direction: column;
    --height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
    --box-shadow: 0 15px 20px rgba(255, 214, 144, 0.1);

}

.chatbox ion-segment {
    --background: #5F220C;
    border-bottom: 1px solid rgba(255, 214, 144, 0.1);

}

.messages {
    flex: 1;
    overflow-y: auto;
    background: #3a1e0e;

}

.private-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    --height: ;
    --background: #5F220C;
    border-top: 1px solid rgba(255, 214, 144, 0.1);
}

.chat-input {
    padding: 0px;
    margin: 0px !important;
    background: #3a1e0e;
    border-top: 1px solid rgba(255, 214, 144, 0.15);
    align-items: center;

    textarea {
        align-content: center;
        text-align: left !important;
        margin: 0 10px !important;
    }

    ion-col {
        align-self: center;
    }
}

.messages-container {
    height: 80% !important;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;

}

.minitittle {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.5rem !important;
}