.chatbox {
    color: var(--ion-color-secondary);
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    --height: 100%;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
    --box-shadow: 0 15px 20px rgba(255, 214, 144, 0.1);
    overflow: hidden !important;
    --background: transparent !important;
}

.chatbox ion-segment {
    position: relative;
    --background: #5F220C;
    border-bottom: 1px solid rgba(255, 214, 144, 0.1);

    ion-segment-button {
        --indicator-color: var(--ion-color-primary);
        --color: var(--ion-color-secondary);
        --color-checked: #5F220C;
    }

}

.messages {
    overflow-y: auto;
    background: #3a1e0e00;
    color: var(--ion-color-secondary) !important;
}

.private-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    --background: #5f220c00;
    border-top: 1px solid rgba(255, 214, 144, 0.1);
}

ion-grid.chat-input {
    fill: none;
    background: #3a1e0e49;
    align-items: center;
    max-height: fit-content;
    overflow-y: visible;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;

    ion-textarea {

        textarea {
            display: flex;
            text-align: left !important;
            margin: 0px 10px !important;
            padding: 5px 0 0 0 !important;
            --width: 5vh;
            --max-height: 7vh;
            overflow-y: scroll !important;
            overflow-x: hidden !important;
            font-size: 0.8 !important;


        }

        .textarea-bottom {
            margin: 0 !important;
            padding: 0 !important;
            border-color: antiquewhite !important;
        }
    }

    ion-col {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-height: 7vh;
        overflow: hidden;

        ion-button {
            height: 100% !important;
            min-height: 15px;
        }
    }
}

.messages-container {
    height: 80% !important;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll !important;
}

.minitittle {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.5rem !important;
}