ion-modal#notifications-modal {
    --background: #5F220C !important;
    --width: 85vw !important;
    --height: 100%;
    --border-radius: 0;
    --backdrop-opacity: 0.5;
    justify-content: right;
    --border-radius: 15px 0 0 15px;
}

ion-modal#notifications-modal ion-content {
    --background: #5F220C;
}

.notification-panel-content {
    background: #3a1e0e;
    color: #ffd690;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;

    ion-text {
        color: #ffd690;
    }

    ion-list {
        background: none;

        ion-item {
            text-align: center;
            --background: none !important;

        }
    }
}